.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.*.log
crash.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json
*.tfvars
*.tfvars.json
!*.tfvars.example

.env
.env.*
!.env.example
.direnv/

.terraformrc
terraform.rc

*.pem
*.key
*.p12
*.pfx
*.pkcs12

.DS_Store
